.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center
}

.information input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.information label {
  margin-bottom: 5px;
  font-size: 18px;
}
.information button {
  width: 319px;
  height: 50px;
  margin-bottom: 20px;
}
button:hover {
  cursor: pointer;
}

.employees {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.employees button{
    width: 319px;
  height: 50px;
  margin-bottom: 20px;
}

.employee {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  border-radius: 10px;
  width: 30%;
}
.employess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
span {
  color: red;
  font-weight: bold;  
}
li {
  
}
.update {
 align-self: flex-end;
 padding-right: 0px;
}



